@import "vars";
@import "mixins";
@import "fonts";
@import "vendor";
@import "global";

// COMPONENTS IMPORTS
@import "./components/_header.scss";
@import "./components/_first.scss";
@import "./components/_become.scss";
@import "./components/_featured.scss";

// CUSTOM COMPONENTS STYLES
.burger {
  --burger-width: 48px;
  --burger-height: 10px;
  --burger-line-height: 2px;

  @include burger;
}
